@import "tailwindcss";

@theme {
  --font-sans: "Cairo", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Amiri", ui-serif, Georgia, serif;
  
  --color-brand-900: #1a233a; /* Deep Navy */
  --color-brand-800: #2a3656;
  --color-accent-gold: #c5a059; /* Bronze/Gold */
  --color-accent-gold-hover: #b38d47;
  --color-leather-900: #4a3320; /* Leather Brown */
  
  --color-offwhite: #fcfbf9;
}

body {
  background-color: var(--color-offwhite);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@media print {
  nav, footer, header { display: none !important; }
  body { background-color: white !important; }
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  #contract-print-area, #contract-print-area * {
    visibility: visible;
  }
  #contract-print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .fixed, .overflow-hidden, .overflow-y-auto {
    position: static !important;
    overflow: visible !important;
    max-height: none !important;
  }
}
